<%= render 'layouts/header' %>
<div class="jumbotron" style="margin-top: 5px">
	<h2 style="text-align:center">WELCOME TO YOUR NEW CMS</h2><br>
	<p style="text-align:center">Here you can control all the content on your site. Click on an option and start creating, editing, saving and deleting content.</p>
</div>