.menu-cms-image
{
    text-align: center;
}

.menu-cms-title
{
	font-family: 'Lato-Bold', sans-serif;
	font-size: 20px;
    text-align: center;
}

.menu-cms-description
{
	font-family: 'Lato-Medium', sans-serif;	
    text-align: center;

}

.menu-cms-edit
{
	color: #000;
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #000;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.menu-cms-edit:hover
{
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

.menu-cms-edit-delete
{
    text-align: center;
}

.menu-index-description
{
    color: #fff;
    font-family: 'Lato-Medium', sans-serif; 
    text-align: center;
}

.menu-grid
{
    margin-left: -10px;
}
